@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
.la-widget {
  display: grid;
  color: white;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.wrapper {
  
}
.la-widget li.la-row {
  background: rgba(0,0,0,.8);
  font-size: 12px;
  display: grid;
  padding: 3px 0 3px 12px;
  margin-bottom: 0px;
  line-height: 16px;
  text-align: center;
  box-sizing: border-box;
  grid-column-gap: 1px;
  grid-template-columns: 
    /* text */
    auto 
    /* current fuel */
    120px  
    /* needed */
    120px
    /* pit window */
    130px;
}
.la-row div {
  box-sizing: border-box;
  margin-right: 5px;
}
.la-fuel-remaining-wrapper {
  height: 4px;
  background: rgba(0,0,0,.8);
}
.la-fuel-current-level {
  height: 4px;
  width: 85%;
  background: darkorange;
}
.la-widget li.la-row.la-fuel-row {
  padding: 15px 10px;
  box-sizing: border-box;
}
.la-text {
  text-align: left;
  font-weight: 600;
  font-size: 14px;
  padding-left: 5px;
  color: white;
}
.la-current {
  margin:0 4px;
  color: black;
}
.la-needed {
  margin:0 4px;
  color: white;
}
.la-pitwindow {
  margin:0 4px;
  color: white;
}
.la-skew {
  position: relative;
  z-index:2;
  padding-top: 1px;
}
.la-skew.la-skew-white::after {
  position: absolute;
  content: '';
  top:0;left:0;right:0;bottom:0;
  background: white;
  transform: skew(-10deg);
  border-radius: 4px;
  z-index: -1;
}
.la-skew.la-skew-orange {
  color: black;
}
.la-skew.la-skew-orange::after {
  position: absolute;
  content: '';
  top:0;left:0;right:0;bottom:0;
  background: darkorange;
  border: 0.5px solid darkorange;
  transform: skew(-10deg);
  border-radius: 4px;
  z-index: -1;
}
.la-skew.la-skew-white-border::after {
  position: absolute;
  content: '';
  top:0;left:0;right:0;bottom:0;
  border: 0.5px solid white;
  transform: skew(-10deg);
  border-radius: 4px;
  z-index: -1;
}
.la-fixed-width-font {
  font-family: "Roboto Mono";
}

body {
  font-family: Montserrat;
  background: #444;
}
