<div class="la-widget-wrapper">
    <div style="background:rgba(0,0,0,.6);font-size: 9px;display:none;">
        <h2>
            EXPERIMENTAL OVERLAY:<br />
            MIGHT BE INCORRECT
        </h2>
        <div class=""
             data-sra-args-interval="{{defaultInterval}}"
             data-sra-data="Car/REFERENCE/Incidents;Session/IncidentLimit">
            Incidents: <span data-ng-bind="data.Car.REFERENCE.Incidents.Value"></span>
            <br />
            DQ at <span data-ng-bind="data.Session.IncidentLimit.Value"></span>
        </div>
        <div class=""
             data-sra-args-interval="{{defaultInterval}}"
             data-sra-data="Car/REFERENCE/IncidentsTeam">
            Team incidents: <span data-ng-bind="data.Car.REFERENCE.IncidentsTeam.Value"></span>
        </div>

        <div class=""
             data-sra-args-interval="{{defaultInterval}}"
             data-sra-data="Car/REFERENCE/PitTime"
             ng-model="data.Car.REFERENCE.PitTime">
            Pit time: {{data.Car.REFERENCE.PitTime.Value|sraDuration:0}}
        </div>

        <div class=""
             data-sra-args-interval="{{defaultInterval}}"
             data-sra-data="Car/REFERENCE/Status">
            Status: <span data-ng-bind="data.Car.REFERENCE.Status.Value"></span>
        </div>

        <div class=""
             data-sra-args-interval="{{defaultInterval}}"
             data-sra-data="Car/REFERENCE/StatusClass">
            Test: <span data-ng-bind="data.Car.REFERENCE.StatusClass"></span>
        </div>

        <div class=""
             data-sra-args-interval="{{defaultInterval}}"
             data-sra-data="/iRacing/VarHeaders/REFERENCE/CarIdxTireCompound/Type">
            Test tire: <span data-ng-bind="data.iRacing.VarHeaders.REFERENCE.CarIdxTireCompound.Type"></span>
        </div>

      
    </div>

    <!--

    CarIdxTireCompound
    CarIdxQualTireCompound
    CarIdxQualTireCompoundLocked

    VarHeaders {
        "CarIdxTireCompound": {
            "Desc": "Cars current tire compound",
            "Type": {
                "size": 4,
                "typeName": "int",
                "type": 2
            }
        }
    }


    /Car/(CARIDENTIFIER)/IsBlackFlag
    /Car/(CARIDENTIFIER)/LapTime/(LAPTYPE)/(LAPSTOAVERAGE)
    /Car/(CARIDENTIFIER)/PitTime
    /Car/(CARIDENTIFIER)/PitTimes
    /Car/(CARIDENTIFIER)/Position
    /Car/(CARIDENTIFIER)/PositionClass
    /Car/(CARIDENTIFIER)/PositionClassDelta
    /Car/(CARIDENTIFIER)/PositionClassQualifying
    /Car/(CARIDENTIFIER)/ClassColor
    /Car/(CARIDENTIFIER)/Status
    /Session/IncidentLimit
    /Session/Lap
    /Session/LapsToGo
        -->
 

    <ul class="la-widget">
        <li class="la-header la-row">
            <div class="la-qualifying"></div>
            <div class="la-pos">P</div>
            <div class="la-carnumber"></div>
            <div class="la-name"></div>
            <div class="la-ir"></div>
            <div class="la-gap la-text-right">gap</div>
        </li>
        <li class="la-row"
            data-ng-repeat="position in ['PC1', 'PC2','PC3','PC4','PC5','PC6','PC7','PC8','PC9','PC10', 'PC11','PC12','PC13','PC14','PC15','PC16','PC17']"
            data-sra-data="Car/{{position}}/Id;Car/{{position}}/StatusClass;Car/{{position}}/IsEqual/TRANSMITTING;Car/{{position}}/IsEqual/REFERENCE"
            data-ng-style="{ display: data.Car[position].Id.Value == -1 ? 'none' : 'inherit' }"
            data-ng-class="data.Car[position].StatusClass.Value
                               +  ' GridRowBackground-' + (data.Car[position].IsEqual.TRANSMITTING.Value ? 'talking' : (data.Car[position].IsEqual.REFERENCE.Value ? 'reference' : 'none'))"
            data-sra-args-interval="{{defaultInterval}}">

            <!-- qualifying result -->
            <div class="la-qualifying"></div>

            <!-- position in class, ie realposition -->
            <div class="la-pos la-skew la-skew-orange"
                 data-sra-data="Car/{{position}}/PositionClass;Session/NumberOfCarClasses;Car/{{position}}/ClassColor"
                 data-ng-bind="data.Car[position].PositionClass.Value"
                 data-ng-style="{ nothing: (data.Session.NumberOfCarClasses.Value >
                1 ? (data.Car[position].ClassColor | sraRGB) : 'inherit'),
                nothing: (data.Session.NumberOfCarClasses.Value > 1 ? 'black' : 'inherit')
                }"
                >
            </div>

            <!-- carnumber -->
            <div class="la-carnumber la-skew la-skew-orange-border"
                 data-sra-car-number="{{position}}"
                 data-sra-args-interval="{{sraInterval}}"
                 ng-bind="data.Car[value].Number.Value">
            </div>

            <!-- driver or team name -->
            <div class="la-name"
                 data-sra-data="Car/{{position}}/DriverName;Car/{{position}}/TeamName"
                 ng-model="(data.Car[position].DriverName.Value|sraEncodeEntities)">
                {{ (data.Car[position].DriverName.Value.split(' ')[0]) }}
                {{ (data.Car[position].DriverName.Value.split(' ')[1]).substr(0,1) }}.

                <!-- carstatus: pit, blackflag, towing -->
                <div class="la-carstatus la-fixed-width-font">

                    <span class="la-carstatus-text la-inpit">Pit</span>
                    <span class="la-carstatus-text la-pitroad">Pitroad</span>
                    <span class="la-carstatus-text la-pitting">Pitting</span>
                    <span class="la-carstatus-text la-towing">Towing</span>
                    <span class="la-carstatus-text la-offtrack">Danger</span>
                    <span class="la-carstatus-text la-invalid">&#9760;</span>

                </div>
            </div>

            <!-- irating -->
            <div class="la-ir la-skew la-skew-white"
                 data-sra-args-interval="{{defaultInterval}}"
                 data-sra-data="Car/{{position}}/DriverRating"
                 ng-model="data.Car[position].DriverRating.Value">
                {{ (data.Car[position].DriverRating.Value.split('-')[0]/1000)|number:1}}k
            </div>

            <!-- gap -->
            <div class="la-int la-fixed-width-font la-text-right"
                 data-sra-data="Session/DiffCars/{{position}};Session/NumberOfCarClasses;Car/{{position}}/ClassColor"
                 data-ng-bind="(data.Session.DiffCars[position]|sraDuration:1:false:true).replace('s','')">
            </div>

            <!-- hanging -->
            <div class="la-row-hanging la-text-left la-fixed-width-font"
                 data-sra-args-interval="{{defaultInterval}}"
                 data-sra-data="Car/{{position}}/LapTime/SessionLast"
                 data-ng-bind="data.Car[position].LapTime.SessionLast.Value|sraDuration:1">
            </div>


        </li>

        <li class="la-footer"
            data-sra-data="Session/Type;Session/Lap;Session/Laps;Session/LapsToGo;Session/TimeRemaining"
            data-sra-args-interval="{{defaultInterval}}">
            <div class="la-footer-left">
                <span style="font-weight:800;color: #000!important;padding-left: 4px;padding-right: 4px;" class="la-item la-item-inverted"
                      data-ng-bind="data.Session.Type.ValueFormatted"></span>
                <span class="la-item la-fixed-width-font"
                      data-ng-bind="data.Session.Lap.Value+'/'+ ((data.Session.Lap.Value+data.Session.LapsToGo.Value-1)|sraNumber:0:true) + ((data.Session.LapsToGo.UOM|limitTo:1) == '~' ? '~' : '')">
                </span>

                <span class="la-fixed-width-font"
                      data-ng-bind="data.Session.TimeRemaining.Value ? (data.Session.TimeRemaining|sraDuration:0:null:null:true:true) : ''"></span>

            </div>
            <div class="la-footer-right"
                 data-sra-data="
                    Session/StrengthOfField;
                    Track/Temp/Celsius"
                 data-sra-args-interval="{{defaultInterval}}">
                <span class="la-item la-fixed-width-font"
                      ng-model="data.Session.StrengthOfField.Value">
                    SoF: {{data.Session.StrengthOfField.Value}}
                </span>
                <span class="la-item la-fixed-width-font"
                      ng-model="data.Track.Temp.Celsius.Value">
                    Track temp {{data.Track.Temp.Celsius.Value|number:0}}&deg;C
                </span>
            </div>
        </li>
    </ul>

</div>