@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800;900&display=swap');

body,
.SIMRacingApps-App-WidgetLoader-body {
    font-family: Montserrat;
    background: none !important;
}
.la-widget-wrapper {
    background:rgba(0,0,0,.0);
}
ul.la-widget {
    display: grid;
    color: white;
    font-size: 9px;
}

.la-widget li:first-child {
    /* the header row */
    background: none !important;
}

.la-widget .la-row.la-header {
    color: white;
    }

.la-widget .la-row.la-highlighted {
    color: yellow;
}

.la-widget .la-row.la-col-lap-down {
    color: purple;
}

.la-widget .la-row.la-col-lap-up {
    color: red;
}
.la-widget .la-row.la-header div {
    background: rgba(0,0,0,.4);
    color: white;
}
.la-item.la-item-inverted {
    color: black;
    padding: 0 2px;
    position: relative;
    z-index: 2;
}
.la-item-inverted::after {
    content: '';
    border-radius: 4px;
    transform: skew(10deg);
    background: rgba(255,255,255,.9);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.la-widget li.la-row {
    position: relative;
    z-index:1;
    display: grid;
    margin: 0px;
    line-height: 14px;
    text-align: center;
    box-sizing: border-box;
    grid-column-gap: 0px;
    grid-template-columns:
    /* qualifying 18px */
    4px
    /* position */
    20px
    /* car number */
    26px
    /* driver name or team name */
    100px
    /* irating */
    28px
    /* gap */
    45px
    /* hanging */
    55px
}
.la-row div.la-qualifying {
    padding: 0;
}
.la-row div.la-row-hanging {
    background: rgba(0,0,0,.1);
    padding-left: 5px;
    color: #fff !important;
}
.la-row div {
    box-sizing: border-box;
    padding: 2px 4px 2px 4px;
    background: rgba(0,0,0,.9);
    position: relative;
}
/* rows according to sra */
.la-row.ONTRACK-REFERENCE .la-name,
.la-row.GridRowBackground-reference .la-name {
    color: yellow !important;
}

.la-row.GridRowBackground-reference::before {
    content: '';
    width: 2px;
    height: 60%;
    background: yellow;
    position: absolute;
    top: 20%;
    left: 0;
    z-index: 2;
}
.la-row.ONTRACK-LEADER .la-name {
    color: #fff !important;
}
/*
    car and track statuses we can use
    APPROACHINGPITS
    ENTERINGPITSTALL
    EXITINGPITSTALL
    INGARAGE
    INPITSTALL
    INVALID
    LEAVINGPITS
    OFFTRACK
    ONPITROAD
    ONTRACK
    TOWING
    INVALID-LAPAHEAD
    INVALID-LAPBEHIND
    TOWING-ME ? me on everything a possibility?
*/
.la-row div.la-carstatus {
    display: none;
    background: none;
    color: #000;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 8px;
    padding:2px 6px;
}
.la-carstatus .la-carstatus-text {
    display: none;
    position: relative;
    z-index: 2;
}

/*
    Remove background if it happens to have maybe died of death. 
    Display skull icon with no background.
*/
.la-row.INVALID
.la-carstatus::after,
.la-row.INVALID-LAPBEHIND
.la-carstatus::after {
    background: none;
}
.la-row.INVALID .la-name,
.la-row.INVALID-LAPBEHIND .la-name,
.la-row.INVALID-LAPAHEAD .la-name {
    color: #666;
}
/* LAPPED CAR */
.la-row.ONTRACK-LAPBEHIND .la-name {
    color: mediumpurple;
}
.la-row.INGARAGE .la-name,
.la-row.INGARAGE-ME .la-name,
.la-row.INGARAGE-REFERENCE .la-name,
.la-row.INGARAGE-LEADER .la-name,
.la-row.TOWING .la-name,
.la-row.TOWING-ME .la-name,
.la-row.TOWING-REFERENCE .la-name,
.la-row.TOWING-LEADER .la-name,
.la-row.LEAVINGPITS .la-name,
.la-row.LEAVINGPITS-ME .la-name,
.la-row.LEAVINGPITS-REFERENCE .la-name,
.la-row.LEAVINGPITS-LEADER .la-name,
.la-row.APPROACHINGPITS .la-name,
.la-row.APPROACHINGPITS-ME .la-name,
.la-row.APPROACHINGPITS-REFERENCE .la-name,
.la-row.APPROACHINGPITS-LEADER .la-name,
.la-row.ENTERINGPITSTALL .la-name,
.la-row.ENTERINGPITSTALL-ME .la-name,
.la-row.ENTERINGPITSTALL-REFERENCE .la-name,
.la-row.ENTERINGPITSTALL-LEADER .la-name,
.la-row.EXITINGPITSTALL .la-name,
.la-row.EXITINGPITSTALL-ME .la-name,
.la-row.EXITINGPITSTALL-REFERENCE .la-name,
.la-row.EXITINGPITSTALL-LEADER .la-name,
.la-row.INPITSTALL .la-name,
.la-row.INPITSTALL-ME .la-name,
.la-row.INPITSTALL-REFERENCE .la-name,
.la-row.INPITSTALL-LEADER .la-name,
.la-row.INPITSTALL-LAPBEHIND .la-name,
.la-row.ONPITROAD .la-name,
.la-row.ONPITROAD-ME .la-name,
.la-row.ONPITROAD-REFERENCE .la-name,
.la-row.ONPITROAD-LEADER .la-name {
    color: #666;
}
/*
    If we have a valid status, we first must set the actual la-carstatus visible.
*/
.la-row.INGARAGE .la-carstatus,
.la-row.INGARAGE-ME .la-carstatus,
.la-row.INGARAGE-REFERENCE .la-carstatus,
.la-row.INGARAGE-LEADER .la-carstatus,
.la-row.TOWING .la-carstatus,
.la-row.TOWING-ME .la-carstatus,
.la-row.TOWING-REFERENCE .la-carstatus,
.la-row.TOWING-LEADER .la-carstatus,
.la-row.LEAVINGPITS .la-carstatus,
.la-row.LEAVINGPITS-ME .la-carstatus,
.la-row.LEAVINGPITS-REFERENCE .la-carstatus,
.la-row.LEAVINGPITS-LEADER .la-carstatus,
.la-row.APPROACHINGPITS .la-carstatus,
.la-row.APPROACHINGPITS-ME .la-carstatus,
.la-row.APPROACHINGPITS-REFERENCE .la-carstatus,
.la-row.APPROACHINGPITS-LEADER .la-carstatus,
.la-row.ENTERINGPITSTALL .la-carstatus,
.la-row.ENTERINGPITSTALL-ME .la-carstatus,
.la-row.ENTERINGPITSTALL-REFERENCE .la-carstatus,
.la-row.ENTERINGPITSTALL-LEADER .la-carstatus,
.la-row.EXITINGPITSTALL .la-carstatus,
.la-row.EXITINGPITSTALL-ME .la-carstatus,
.la-row.EXITINGPITSTALL-REFERENCE .la-carstatus,
.la-row.EXITINGPITSTALL-LEADER .la-carstatus,
.la-row.INPITSTALL .la-carstatus,
.la-row.INPITSTALL-ME .la-carstatus,
.la-row.INPITSTALL-REFERENCE .la-carstatus,
.la-row.INPITSTALL-LEADER .la-carstatus,
.la-row.INPITSTALL-LAPBEHIND .la-carstatus,
.la-row.ONPITROAD .la-carstatus,
.la-row.ONPITROAD-ME .la-carstatus,
.la-row.ONPITROAD-REFERENCE .la-carstatus,
.la-row.ONPITROAD-LEADER .la-carstatus {
    display: block;
    position: absolute;
    right: 2px;
    top: 0;
    z-index: 1;
    padding: 2px 6px;
    color: #000;
    font-weight: 400;
    font-size: 7px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
/*
    THESE ARE THE MESSAGE BOXES TO DISPLAY
*/
/* PITROAD MESSAGE                                                                          */
    .la-row.LEAVINGPITS .la-carstatus .la-carstatus-text.la-pitroad,
    .la-row.LEAVINGPITS-ME .la-carstatus .la-carstatus-text.la-pitroad,
    .la-row.LEAVINGPITS-REFERENCE .la-carstatus .la-carstatus-text.la-pitroad,
    .la-row.LEAVINGPITS-LEADER .la-carstatus .la-carstatus-text.la-pitroad,
    .la-row.LEAVINGPITS-LEADER .la-carstatus .la-carstatus-text.la-pitroad,
    .la-row.ONPITROAD .la-carstatus .la-carstatus-text.la-pitroad,
    .la-row.ONPITROAD-ME .la-carstatus .la-carstatus-text.la-pitroad,
    .la-row.ONPITROAD-REFERENCE .la-carstatus .la-carstatus-text.la-pitroad,
    .la-row.ONPITROAD-LEADER .la-carstatus .la-carstatus-text.la-pitroad {
        display: inline;
    }
/* PITTING MESSAGE                                                                          */
    .la-row.APPROACHINGPITS .la-carstatus .la-carstatus-text.la-pitting,
    .la-row.APPROACHINGPITS-ME .la-carstatus .la-carstatus-text.la-pitting,
    .la-row.APPROACHINGPITS-LEADER .la-carstatus .la-carstatus-text.la-pitting,
    .la-row.APPROACHINGPITS-REFERENCE .la-carstatus .la-carstatus-text.la-pitting {
        display: inline;
    }
/* PIT MESSAGE                                                                              */
    .la-row.INPITSTALL .la-carstatus .la-carstatus-text.la-inpit,
    .la-row.INPITSTALL-ME .la-carstatus .la-carstatus-text.la-inpit,
    .la-row.INPITSTALL-REFERENCE .la-carstatus .la-carstatus-text.la-inpit,
    .la-row.INPITSTALL-LEADER .la-carstatus .la-carstatus-text.la-inpit,
    .la-row.ENTERINGPITSTALL .la-carstatus .la-carstatus-text.la-inpit,
    .la-row.ENTERINGPITSTALL-ME .la-carstatus .la-carstatus-text.la-inpit,
    .la-row.ENTERINGPITSTALL-LEADER .la-carstatus .la-carstatus-text.la-inpit,
    .la-row.ENTERINGPITSTALL-REFERENCE .la-carstatus .la-carstatus-text.la-inpit,
    .la-row.EXITINGPITSTALL .la-carstatus .la-carstatus-text.la-inpit,
    .la-row.EXITINGPITSTALL-ME .la-carstatus .la-carstatus-text.la-inpit,
    .la-row.EXITINGPITSTALL-LEADER .la-carstatus .la-carstatus-text.la-inpit,
    .la-row.EXITINGPITSTALL-REFERENCE .la-carstatus .la-carstatus-text.la-inpit {
        display: inline;
    }
/* TOWING                                                                                   */
    .la-row.TOWING .la-carstatus .la-carstatus-text.la-towing,
    .la-row.TOWING-ME .la-carstatus .la-carstatus-text.la-towing,
    .la-row.TOWING-LEADER .la-carstatus .la-carstatus-text.la-towing,
    .la-row.TOWING-REFERENCE .la-carstatus .la-carstatus-text.la-towing {
        display: inline;
    }

    
/* DEATH */
.la-row.INVALID
.la-carstatus .la-carstatus-text.la-invalid,
.la-row.INVALID-LAPBEHIND
.la-carstatus .la-carstatus-text.la-invalid,
.la-row.INVALID
.la-carstatus,
.la-row.INVALID-LAPBEHIND
.la-carstatus {
    display: inline;
    color:#666;
    font-size: 16px;
    font-weight:300;
}
.la-row.INVALID
.la-row-hanging,
.la-row.INVALID-LAPBEHIND
.la-row-hanging {
    display:none;
}





.la-carstatus::after {
    position: absolute !important;
    content: '';
    background: darkorange;
    transform: skew(-10deg);
    border-radius: 4px;
    z-index: 1;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
}

.la-qualifying {
    color: rgba(255,255,255,.5);
    font-size: 7px;
}
.la-row:first-child .la-qualifying {
    border-top-left-radius: 4px;
}
.la-pos {
    color: black;
    font-weight: 800;
    font-size: 8px;
    padding-left: 4px;
    background: rgba(0,0,0,1);
}

.la-carnumber {
    padding-left: 4px!important;
    color: rgba(155,50,0,1);
    color: white;
    font-size: 7px;
}
.la-widget li.la-row .la-name {
    font-weight: 600;
    padding-left: 4px;
    text-align: left;
    overflow:hidden;
    white-space:nowrap;
    font-size: 9px;
}

.la-ir {
    color: black;
    font-weight: 600;
    font-size: 8px;
    width: 28px;
    padding-left: 4px !important;
}

.la-int {
    color: white;
    text-align: right;
}
.la-row:first-child .la-gap {
    border-top-right-radius: 4px;
}
.la-tyre {
    margin: 0 4px;
    width: 22px;
    color: white;
}
.la-lastlap {
    text-align: left;
}

.la-skew {
    position: relative;
    z-index: 2;
}

    .la-skew.la-skew-white::after,
    .la-skew.la-skew-white-border::after,
    .la-skew.la-skew-orange::after,
    .la-skew.la-skew-orange-border::after {
        top: 2px;
        bottom: 2px;
        left: 2px;
        right: 2px;
    }
    .la-skew.la-skew-white::after {
        position: absolute;
        content: '';
        background: white;
        transform: skew(-10deg);
        border-radius: 4px;
        z-index: -1;
    }

    .la-skew.la-skew-white-border::after {
        position: absolute;
        content: '';
        border: 0.5px solid white;
        transform: skew(-10deg);
        border-radius: 4px;
        z-index: -1;
    }

    .la-skew.la-skew-orange-border::after {
        position: absolute;
        content: '';
        border: 0.5px solid darkorange;
        transform: skew(-10deg);
        border-radius: 4px;
        z-index: -1;
    }

    .la-skew.la-skew-orange::after {
        position: absolute;
        content: '';
        background: darkorange;
        transform: skew(-10deg);
        border-radius: 4px;
        z-index: -1;
    }

.la-text-left {
    text-align: left;
}
.la-text-right {
    text-align:right;
}

.la-fixed-width-font {
    font-family: "Roboto Mono";
}
.wrapper {
    margin: 40px;
    padding: 20px;
    width: 450px;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.la-widget li.la-footer {
    box-sizing: border-box;
    grid-gap: 0;
    display: grid;
    grid-template-columns: 118px 94px;
    background: rgba(0,0,0,.9);
    line-height: 14px;
    padding: 5px;
    font-size: 8px;
    width: 223px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.la-footer-right {
    text-align: right;
}

.la-footer span.la-item {
    display: inline-block;
}

.la-footer span.la-item + span.la-item {
    margin-left: 4px;
}

/* flags */
/* 
FLAGS 
*/
.flag-wrapper {
    width: 223px;
    height: 30px;
    position: relative;
    left: 4px;
}
.la-flag.la-flag-white {
    background: white;
    background: linear-gradient(177deg, white 50%, aqua 140%);
  }
  .la-flag.la-flag-yellow {
    background: yellow;
    background: linear-gradient(177deg, yellow 50%, orange 140%);
  }
  .la-flag.la-flag-green {
    background: green;
    background: linear-gradient(177deg, green 50%, lightgreen 140%);
  }
  .la-flag.la-flag-blue {
    background: mediumpurple;
    background: linear-gradient(177deg, mediumpurple 50%, blue 140%);
  }
  .la-flag.la-flag-red {
    background: darkred;
    background: linear-gradient(177deg, darkred 50%, black 160%);
  }
  .la-flag.la-flag-black {
    background: black;
    background: linear-gradient(177deg, black 50%, #333 140%);
  }
.la-flag.la-flag-checkered {
    background: black;
    background-image: 
        linear-gradient(to right, rgba(0, 0, 0, 1), rgba(255, 255, 255, 1)),
    /* checkered effect */
        linear-gradient(to right, black 50%, white 50%), linear-gradient(to bottom, black 50%, white 50%);
    background-blend-mode: normal, normal, normal;
    background-size: 2em 2em;
}
.la-flag {
    width: 90%;
    height: 4px;
    background: transparent;
    border-radius: 2px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    /*box-shadow: 0 0 20px rgba(255,255,255,1);*/
}
  .la-flag.la-flag-blackflag {
    box-shadow: 0 0 20px rgba(255,255,255,.5);
    animation: pulse-urgent 800ms ease-in-out infinite;
  }

.la-flag .pulse { display:none; }
.la-flag-yellow .pulse,
.la-flag-white .pulse,
.la-flag-red .pulse,
.la-flag-blue .pulse,
.la-flag-green .pulse,
.la-flag-black .pulse,
.pulse {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,.1);
    width: 40px;
    height: 4px;
    border-radius: 2px;
    animation: pulse 5000ms ease-in-out infinite;
    box-shadow: 0 0 10px rgba(255,255,255,.1);
}
.la-flag-yellow.pulse-urgency,
.la-flag-white.pulse-urgency,
.la-flag-red.pulse-urgency,
.la-flag-blue.pulse-urgency,
.la-flag-green.pulse-urgency,
.la-flag-black.pulse-urgency,
.la-flag-checkered.pulse-urgency {
    box-shadow: 0 0 20px rgba(255,255,255,1);
    animation: pulse-urgent 800ms ease-in-out infinite;
}

  
  @keyframes pulse {
    0% { left: 0; }
    50% { left: calc(100% - 40px); }
    100% { left: 0; }
  }
  @keyframes pulse-urgent {
    0% { box-shadow: 0 0 10px rgba(255,255,255,.1); }
    50% { box-shadow: 0 0 20px rgba(255,255,255,1); }
    100% { box-shadow: 0 0 10px rgba(255,255,255,.1); }
  }